@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500";

body {
  color: #555;
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  padding: 0 1em;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1,
h2,
strong {
  color: #333;
}

#oppskrifter a {
  color: #555;
  text-decoration: none;
}

#oppskrifter h2 {
  margin-bottom: 0;
}

img {
  aspect-ratio: fixed;
  max-width: 100%;
  width: auto;
  height: auto;
}

